node_modules
yarn.lock

.DS_Store
.cache
.env
.env.local
.dev.vars
.vercel
.output
.vinxi

/build/
/api/
/server/build
/public/build
.vinxi
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
dist
.vscode/mcp.json
.tanstack
.wrangler
bundled